footer {
    background: rgb(50, 50, 50);
    text-align: center;
    width: 100%;
    color: #ccc;
}

footer hr {
    width: 100%;
    color: rgb(10, 10, 10);
    margin: 0;
}

#logopb {
    width: 70%;

}