.box-time {
    position: absolute;
    right: 5px;
    top: 5rem;
    width: 15%;
    z-index: 999;

    &.close {
        visibility: hidden
    }

    &.open {
        visibility: visible;
    }

    .img-clock {
        display: none;
        background-color: #069;
        cursor: pointer;
    }

    .schedule {
        .card-header {
            text-align: left;

            #close {
                width: 24px;
                float: right;
                cursor: pointer;
            }
        }

        .card-body {
            text-align: start;
        }
    }
}

.country {
    margin: 0 5px 0 0 !important;
    width: 2rem;
}

@media screen and (max-width: 991px) {
    .box-time {
        width: 180px;
        visibility: visible !important;
        transition: all ease-in .5s;

        &.close {
            right: -41%;
        }

        &.open {
            right: 5px;
        }

        .img-clock {
            display: block;
            width: 18%;
            height: 30px;
            float: left;
            text-align: center;
        }

    }
}