---

// Style Imports
import "../styles/global.scss";

// Component Imports
import GestaoVideos from "../components/gestao-videos.astro";
import GestaoEmails from "../components/gestao-email.astro";

import GestaoLayout from '../layouts/gestao.layout.astro';


---
    <GestaoLayout>
        <div class="d-flex justify-content-between container mt-0 pt-3">
            <img src="/assets/logo.png" style="width: 150px;"  alt="logo" />
            <span class="text-decoration-underline mt-auto" style="cursor: pointer" id="sair">Sair</span>
        </div>
        <section id="gestao-data" class="container mt-3">
            <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#gestao-emails">Gestão Emails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#gestao-videos">Gestão Videos</a>
            </li>
            </ul>


            <div class="tab-content">
            <div class="tab-pane active mt-3" id="gestao-emails">
                <GestaoEmails/>
            </div>
            <div class="tab-pane fade mt-3" id="gestao-videos">
                <GestaoVideos/>
            </div>
        
            </div>
        </section>
    </GestaoLayout>
    <script>
        document.getElementById("sair").addEventListener("click", () => {
            sessionStorage.removeItem("gestao-access")
            location.replace("/gestao-access")
        })
        if(!(sessionStorage.getItem("gestao-access"))) {
            location.replace("/gestao-access");
        } 
    </script>
    </body>
</html>