---
// Style Imports
// import 'bootstrap/dist/css/bootstrap.min.css';
import "../styles/global.scss";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// You can import components from any supported Framework here!
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title =  "Gestão Unsubscribe Email"
// LAyout Imports
import GestaoLayout from '../layouts/gestao.layout.astro';
---
        <GestaoLayout>
            <section class="m-3">
                <a href="/">
                        <img src="/assets/logo.png" style="width: 150px;"  alt="logo" />
                </a>
                <h5 class="mt-3 ps-2">
                    Cancelar Inscrição
                </h5>
                <form action="" class="p-2">
                    <label for="inputAccess" class="form-label">Email:</label>
                    <div class="d-flex gap-3 flex-column flex-md-row">
                        <input type="email" id="inputUnsubscribe" class="form-control w-md-25 w-sm-100" autocomplete="on">
                        <input type="submit" class="btn btn-success" id="btn-unsubscribe" value="Cancelar"/>
                    </div>

                </form>
            </section>
        </GestaoLayout>
        <script>
            import "bootstrap/dist/js/bootstrap.bundle.min.js";
            import * as bootstrap from 'bootstrap';
            import $ from 'jquery';
            
            $("#btn-unsubscribe").click((e) => {
                e.preventDefault();
                let urlRequest = "http://localhost:7000?email=";
                if (import.meta.env.PROD) urlRequest = "https://vallorx.com.br/php/gestao-email.php?email=";
                $.ajax({
                    method: 'DELETE',
                    url: urlRequest+$("#inputUnsubscribe").val(),
                    timeout: 0,
                    success: (result) => {
                        result = JSON.parse(result);
                        if (result.status === '200') {
                            $("#inputUnsubscribe").val("")
                             $('#toast-success-response-body').html(result.mensagem);
                            new bootstrap.Toast($('.toast-success')).show();
                        } else {
                            $('#toast-danger-response-body').html(result.mensagem);
                            new bootstrap.Toast($('.toast-danger')).show();
                        }
                    },
                    error: (result) => {
                        $('#toast-danger-response-body').html(result.mensagem);
                        new bootstrap.Toast($('.toast-danger')).show();
                    },
                    beforeSend: () => { /* antes de enviar */
                        $('#btn-access').prop('disabled', true);
                        $('#spinner-save').removeClass('d-none'); /* mostra o loading */
                    },
                    complete: () => { /* completo */
                        $('#inputAccess').val("");
                        $('#spinner-save').addClass('d-none');
                        $('#btn-access').prop('disabled', false);
                    },

                });
            })
        </script>
    </body>
</html>