---

// Style Imports
import "../styles/global.scss";

// LAyout Imports
import GestaoLayout from '../layouts/gestao.layout.astro';

---
    <GestaoLayout>
        <section id="gestao-access" style="height: 100vh" class="d-flex justify-content-center align-items-center">
            <div class="card">
                <div class="card-header text-center">
                    <a href="/">
                        <img src="/assets/logo.png" style="width: 150px;"  alt="logo" />
                    </a>
                </div>
                <div class="card-body">
                <form action="">
                    <label for="inputAccess" class="form-label">Access:</label>
                    <input type="password" id="inputAccess" class="form-control" autocomplete="on">
                    <input type="submit" class="btn btn-success mt-3 w-100" id="btn-access" value="Acessar"/>

                </form>
                <div class="text-center mt-3">
                    <a href="/">
                        Acessar home do site
                    </a>
                </div>
                </div>
            </div>
        </section> 
    </GestaoLayout>
    <script>
         import "bootstrap/dist/js/bootstrap.bundle.min.js";
         import * as bootstrap from 'bootstrap';
         import $ from 'jquery';
        
         document.getElementById("btn-access").addEventListener("click", () => {
            if (import.meta.env.DEV) {
                location.replace("/gestao-data");
                sessionStorage.setItem("gestao-access", 'true')
            }
            const form = new FormData();
            form.append("access", $("#inputAccess").val());

            $.ajax({
                type: 'POST',
                url: 'https://vallorx.com.br/php/gestao.php',
                data: form,
                timeout: 0,
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                success: (result) => {
                    result = JSON.parse(result);
                    if (result.status === '200') {
                        sessionStorage.setItem("gestao-access", "true")
                        location.replace("/gestao-data")
                    } else {
                        $('#toast-danger-response-body').html(result.mensagem);
                        new bootstrap.Toast($('.toast-danger')).show();
                    }
                },
                error: (result) => {
                    $('#toast-danger-response-body').html(result.mensagem);
                    new bootstrap.Toast($('.toast-danger')).show();
                },
                beforeSend: () => { /* antes de enviar */
                    $('#btn-access').prop('disabled', true);
                    $('#spinner-save').removeClass('d-none'); /* mostra o loading */
                },
                complete: () => { /* completo */
                    $('#inputAccess').val("");
                    $('#spinner-save').addClass('d-none');
                    $('#btn-access').prop('disabled', false);
                },

            });
        })
    </script>
</html>