---
import { Pages } from "../utils/pages.enum";
// Style Imports
import "../styles/global.scss";

import VideoNews from "../components/video-news";

//Layouts
// import VideoNews from '../layouts/video-news.astro';

// const data = await fetch("https://vallorx.com.br/php/gestao-videos.php")
//     .then((response) => {
//         return response.json();
//     })
//     .then((json) => {
//         if (json) {
//             return json;
//         } else {
//             return null;
//         }
//     });

// Layout Imports
import SiteLayout from "../layouts/site.layout.astro";

---

<SiteLayout title="News" pageActive={Pages.NEWS}>
    <section id="news" class="container">
        <h1 class="text-center text-lg-start fw-bold line-title">
            News
        </h1>
        <h3 class="text-danger" id="erro-videos"></h3>
        <div class="row mb-5" id="box-videos">
            <div class="col">
                <VideoNews />
            </div>
        </div>
    </section>
    <script>
        import * as obterVideos from "../js/obter-videos.js";
        globalThis.obterVideos = obterVideos;
        obterVideos.obterVideos();

    </script>
</SiteLayout>
