---
import { Pages } from '../utils/pages.enum.ts';
// Style Imports
import '../styles/global.scss';

// Component Imports
import Navbar from '../components/nav-bar.tsx';
import Footer from '../components/footer.tsx';
import VideoNews from '../layouts/video-news.astro';

let title = 'Parceiros';

const response = await fetch('/php/videos.php');
console.log(response)
const data = await response.json();
console.log(data)

---


<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#fff">
    <title>Vallox | {title}</title>

	<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
	<style>
	</style>
</head>
<body>
	<main>
		<Navbar client:visible pageActive={Pages.NEWS}/>

        <section id="parceiros" class="container mt-3">
            <h1 class="text-center text-lg-start fw-bold line-title">NEWS</h1>
            <h3 class="text-danger" id="erro-videos"></h3>
            <div class="row" id="box-videos">
                <!-- <VideoNews content={{name: 'typeof(video)'}}/> -->
            </div>
        </section>
        <div class="mt-auto">
            <Footer/>
        </div>
    </main>
     <script type="module" hoist>
        import "jquery"
        import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
    <script type="module" hoist>
        import { obterVideos } from "../js/obter-videos.js"
				globalThis.obterVideos = obterVideos;
                // obterVideos()
    </script>
    <script>
    </script>
   
</body>
</html>