---
import { Pages } from "../utils/pages.enum";
// Style Imports
import "../styles/global.scss";

// Layout Imports
import SiteLayout from "../layouts/site.layout.astro";

const pageDescription = `vallorX Parceiros`;

---

<SiteLayout title="Parceiros" pageActive={Pages.PARCEIROS} pageDescription={pageDescription}>
    <style>
        #parceiros {
            color: rgb(50, 50, 50);
        }

        .img-parceiros {
            width: 240px;
            height: auto;
            margin: 0 auto;
            /* background-position: bottom center; */
            background-repeat: no-repeat;
            object-fit: contain;
            object-position: center center;
        }
    </style>

    <section id="parceiros" class="container">
        <h1 class="text-center text-lg-start fw-bold line-title">
            Parceiros
        </h1>
        <div class="row">
            <div
                class="col-12 col-lg-4 d-flex align-items-center justify-content-center"
            >
                <a href="/contato">
                    <img
                        src="/assets/parceiros/orce.png"
                        class="img-parceiros"
                        alt="orce"
                    />
                </a>
                <img src="/assets/selo.png" class="selo" alt="selo" />
            </div>
            <div
                class="col-12 col-lg-4 mt-lg-0 mt-3 d-flex align-items-center justify-content-center"
            >
                <a href="/contato">
                    <img
                        src="/assets/parceiros/ebft.png"
                        class="img-parceiros"
                        alt="ebft"
                    />
                </a>
                <img src="/assets/selo.png" class="selo" alt="selo" />
            </div>
            <div
                class="col-12 col-lg-4 mt-lg-0 mt-3 d-flex align-items-center justify-content-center"
            >
                <a href="/contato">
                    <img
                        src="/assets/parceiros/MAXXIBRANDS.png"
                        class="img-parceiros"
                        alt="maxx"
                    />
                    <br />
                    <span class="small float-end"
                        >COMÉRCIO EXTERIOR</span
                    >
                </a>
                <img src="/assets/selo.png" class="selo" alt="selo" />
            </div>
        </div>
    </section>
</SiteLayout>
