---
// Style Imports
import "../styles/global.scss";

// Component Imports
import ModalAddNews from "./modal-add-news.astro";
import ModalDeleteNews from "./modal-delete-news.astro";

---

    <section id="gestao-videos" class="">
        <div class="d-flex mb-3 justify-content-end">
            <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
                title="add"
            >
                <img
                    class="icons-header"
                    src="/assets/svg/plus-circle.svg"
                    alt="plus-circle"
                />
            </button>
            <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                onclick="gestaoVideos.deleteAllOrId()"
                title="delAll"
            >
                <img
                    class="icons-header"
                    src="/assets/svg/x-circle.svg"
                    alt="x-circle"
                />
            </button>
        </div>
        <div id="list-news"></div>
    </section>
    <ModalAddNews />
    <ModalDeleteNews />
    
<script>
    import * as gestaoVideos from "../js/gestao-videos.js";
    globalThis.gestaoVideos = gestaoVideos;
</script>
