---
// Style Imports
import "../styles/global.scss";

let title = "Gestão Vídeos";

---
    <section id="gestao-email">
        <div class="d-flex mb-3 gap-3 justify-content-end">
            <a href="">Cancelar Inscrição</a>
            <button
                type="button"
                class="btn btn-success"
                id="copiar-emails"
                onclick="gestaoEmail.copyEmails();"
            >
                Copiar e-mails selecionados
            </button>
        </div>
        <div id="list-emails"></div>
    </section>
<script>
    import * as gestaoEmail from "../js/gestao-email.js";
    import $ from 'jquery';

    globalThis.gestaoEmail = gestaoEmail;
    gestaoEmail.getEmails();
    $("#copiar-emails").prop("disabled", true);
</script>
