---
const { content } = Astro.props;
const { nome, linkVideo } = content;

const regexNomeVideo = /.mp4/gi;
---

<h3>{nome.replace(regexNomeVideo, '')}:</h3>
<video class="mx-auto w-75 mb-5" controls width="70%" poster="/assets/fundo-video.jpg" controlsList="nodownload" preload="auto">
    <source src={linkVideo} type="video/mp4" />
</video>
